body{
    margin:auto
}
#search{
    height:500px;
    width:100%;
    background-image:url('food-wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 500px
}


#brand{
    display: inline-block;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 1%;
    color:white;
    font-family: fantasy;
}

.social{
    display: inline-block;
    margin-left: 70%;
}

.socialIcon{
    height:50px;
    width:50px
}

#logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius: 50%;
    margin-left:45%;
    margin-top: 4%;
    text-align: center;
    font-size: 100px;
}

#logo>span{
    color:#ec893f;
    margin-top: 1%;
    margin-left: -3%;
    position: absolute;
}

#heading{
    font-size:35px;
    margin: auto;
    background-color:white;
    width:30%;
    margin-top: 2%;
    color:#ec893f;
}

#dropDown{
    height:60px;
    width:45%;
    margin-top: 3%;
    margin-left: 27%;
}

select{
    height:60px;
    width:42%;
}
#secondSelect{
    width:54%;
    margin-left: 2%;
}

#quicksearch{
    height:500px;
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
}

#QuickHeading{
    font-size:30px;
    font-weight: bold;
    display:block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ec893f;
    margin-left: 2%;
}

#QuickSubHeading{
    font-size:20px;
    display:block;
    line-height:2;
    color:gray;
    margin-left: 2%;
}
.tileContainer{
    height:200px;
    width:30%;
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    box-shadow: 10px 20px 10px #c1dbea;
}

.tileContainer:hover{
    /*transform: scale(1.1);
    transform: rotate(180deg)
    transform: skewY(40deg)*/
    transform: scale(1.1)
}

.tileComponent1{
    width:52%;
    float: left;
}

.tileComponent1 > img{
    height:200px;
    width:100%;
}

.tileComponent2{
    width:42%;
    float: left;
    margin-top: 45px;
    margin-left: 15px;
}

.componentHeading{
    color:#ec893f;
    font-size: 25px;
}
.componentSubHeading{
    color: #343536;
    font-size: 18px;
}

@media screen and (max-width: 1600px){
    body{
        background-color: rgb(171, 241, 171);
    }
}

@media screen and (max-width: 1400px){
    body{
        background-color: rgb(171, 241, 235);
    }
}

@media screen and (max-width: 1200px){
    body{
        background-color: rgb(245, 188, 247);
    }
    .social{
        margin-left: 66%;
    }
    #heading {
        width: 37%;
    }
}

@media screen and (max-width: 1000px){
    body{
        background-color: rgb(247, 205, 188);
    }
    .tileContainer {
        width: 47%;
    }
    .social{
        margin-left: 60%;
    }
    #heading {
        width: 46%;
    }
    #logo>span {
        margin-left: -5%;
    }
}


@media screen and (max-width: 800px){
    body{
        background-color: rgb(170, 157, 243);
    }
    .tileContainer {
        width: 100%;
    }
    #logo>span {
        margin-left: -6%;
    }
    #heading {
        width: 58%;
    }
    .social{
        margin-left: 50%;
    }
    #QuickHeading{
        color:#f3ede9;
    }
    
    #QuickSubHeading{
        color:white;
    }
    .componentSubHeading{
        color: #f3ede9;
        font-size: 18px;
    }
}



@media screen and (max-width: 600px){
    body{
        background-color: rgb(188, 247, 210);
    }
    #QuickHeading{
        color:#ec893f;
    }
    
    #QuickSubHeading{
        color:gray;
    }
    .componentSubHeading{
        color:gray;
        font-size: 18px;
    }
    #logo{
        margin-left:36%
    }
    #logo>span {
        margin-left: -9%;
    }
    #heading {
        width: 70%;
        font-size: 28px;
    }
    .social{
        margin-left: 29%;
    }
    select{
        width:100%
    }
    #secondSelect {
        width: 117%;
        margin-left: -8%;
        margin-top: 5%;
    }
}